{% extends 'template.html' %}

{%block title%}
    Unfiltered - User Login
{%endblock%}

{%block content%}

    <main>
        <h1>
            Welcome back
        </h1>
        <div class = form-div>
            <form class = "form-with-validation" action="{% url 'users:login' %}" method="post">
                {% csrf_token %}
                {{ form }}

                {% if request.GET.next %}
                    <input type="hidden" name="next" value="{{ request.GET.next}}" />
                {%endif%}

                <button class="form-submit" style="display: block; margin: auto;">Login</button>
            </form>
        </div>
    </main>

{%endblock%}